<div class="relative group">
    <div
        class="absolute top-6 aurora-border mx-auto -inset-1 rounded-xl blur-xl opacity-35 w-11/12 h-80 transition duration-300 z-5"
    >
    </div>
    <div 
        x-cloak
        x-data="initTerminal()" 
        x-init="init()" 
        @click="$event.target.querySelector('input')?.focus()" 
        class="bg-neutral-900 absolute block border-2 border-neutral-600 opacity-90 rounded-xl p-4 text-neutral-300 font-mono text-xs sm:text-sm md:text-base h-96 max-h-96 w-full overflow-y-auto scrollbar-thin scrollbar-thumb-neutral-800 scrollbar-track-neutral-900 z-10"
    >
        <template x-for="(item, index) in history" :key="index">
            <div>
                <p x-html="item"></p>
            </div>
        </template>
        <div class="flex items-center">
            <span x-html="promptPrefix"></span>
            <input 
                x-ref="input"
                x-model="input" 
                @keydown.enter="executeCommand()" 
                class="bg-neutral-900 text-neutral-300 focus:outline-none inline-block" 
            />
        </div>
    </div>
</div>
<script is:inline>
function initTerminal() {
    return {
        input: '',
        history: [],
        user: 'guest',
        promptPrefix: `
            <span class="text-emerald-600">✓</span> 
            <span class="text-cyan-600">guest</span><span class="text-neutral-500">@</span><span class="text-light-gold">tech.battery.nexus</span>⚡`,
        init() {
            if (this.history.length === 0) {
                this.history.push('Welcome to <span class="nav-accent-link text-gradient-gold">BatteryShell</span><br>Type <span class="text-emerald-600">help</span> to see available commands.<br>');
            }

            this.$nextTick(() => {
                this.$refs.input.focus();
                this.scrollToBottom();
            });
        },
        executeCommand() {
            let output = '';
            const command = this.input.split(' ')[0];
            const argument1 = this.input.split(' ')[1] || '';
            const argument2 = this.input.split(' ')[2] || '';

            switch (command) {
                case '':
                    output = '';
                    break;
                case 'about':
                    output = 'Welcome to the tech blog! Used to document technical projects related to coding, linux, game dev, and anything else that sounds like fun!'
                    break;
                case 'banger':
                    output = `<a href="https://bit.ly/3BlS71b" target="_blank" class="text-fuchsia-600">📻 Random Certified Banger</a>`
                    break;
                case 'cd':
                    if (argument1 === 'posts') {
                        window.location.href = `/posts`;
                    } else {
                        output = 'cd requires an argument (try `cd posts`)';
                    }
                    break;
                case 'clear':
                    this.history = [];
                    break;
                case 'discord':
                    if (this.user === 'root') {
                        output = "🔓 Ok you called my bluff- I don't actually have a discord server set up yet. Coming soon maybe.";
                    } else {
                        output = "🔒 We're not that friendly ";
                    }
                    break;
                case 'su':
                    if ( (argument1 === '-') && (argument2) ) {
                        const newUser = argument2;
                        this.user = newUser.trim() !== '' ? newUser : this.user;
                        this.promptPrefix = `<span class="text-emerald-600">✓</span> 
                                            <span class="text-cyan-600">${this.user}</span><span class="text-neutral-500">@</span><span class="text-light-gold">tech.battery.nexus</span>⚡`;
                        output = `Switched user to ${this.user}`;
                    }
                    break;
                case 'sudo':
                    output = 'sudo not implemented. But you might want to try acting as root...'
                    break;
                case 'gh':
                case 'github':
                    output = `<a href="https://github.com/c-lonas" target="_blank" class="text-fuchsia-600">🚀 github.com/c-lonas</a>`
                    break;
                case 'help':
                case 'usage':
                    output = `Available commands: <br>
                                <span class="text-emerald-600">about</span>: Display a description of the website <br>
                                <span class="text-emerald-600">banger</span>: Link to a random banger from a highly curated playlist <br>
                                <span class="text-emerald-600">cd posts</span>: Navigate to the posts page <br>
                                <span class="text-emerald-600">clear</span>: Clear the terminal <br>
                                <span class="text-emerald-600">discord</span>: Link to discord <br>
                                <span class="text-emerald-600">kofi</span>: Link to my ko-fi to send me money <br>
                                <span class="text-emerald-600">github</span>: Link to my github, where you can see the code for this site <br>
                                <span class="text-emerald-600">su -</span>: Switch user; su - yourname <br>
                                <span class="text-emerald-600">help</span>: Display available commands <br>
                            `;
                    break;
                case 'kofi':
                case 'donate':
                case 'support':
                    output = `<a href="https://ko-fi.com/battery1" target="_blank" class="text-fuchsia-600">💙 ko-fi</a>`
                    break;
                default:
                    output = `Command not found: ${this.input}; use "help" for a list of available commands`;
                    this.promptPrefix = `<span class="text-rose-600">✗</span> 
                                        <span class="text-cyan-600">${this.user}</span><span class="text-neutral-500">@</span><span class="text-light-gold">tech.battery.nexus</span>⚡`;
                    break;
            }
            
            if(output) {
                this.history.push(`${this.promptPrefix} ${this.input}<br>${output}<br>`);
                this.promptPrefix = `<span class="text-emerald-600">✓</span> 
                                    <span class="text-cyan-600">${this.user}</span><span class="text-neutral-500">@</span><span class="text-light-gold">tech.battery.nexus</span>⚡`;
            } else {
                this.history.push(`${this.promptPrefix} ${this.input}`);
                this.promptPrefix = `<span class="text-emerald-600">✓</span> 
                                    <span class="text-cyan-600">${this.user}</span><span class="text-neutral-500">@</span><span class="text-light-gold">tech.battery.nexus</span>⚡`;
            }
            this.input = '';            
            this.$nextTick(() => {
                this.scrollToBottom();
            });
        },
        scrollToBottom() {
            const container = this.$refs.input;
            container.scrollTop = container.scrollHeight;
        },
    };
}
</script>
