<div 
    x-cloak
    x-data="initTerminal()" 
    x-init="init()" 
    @click="$event.target.querySelector('input')?.focus()" 
    class="bg-neutral-900 border-2 rounded-xl border-cyan-800 p-4 text-neutral-300 font-mono min-h-96 max-h-96 overflow-y-auto scrollbar-thin scrollbar-thumb-neutral-800 scrollbar-track-neutral-900"
>
    <template x-for="(item, index) in history" :key="index">
        <div>
            <p x-html="item"></p>
        </div>
    </template>
    <div class="flex items-center">
        <span x-html="promptPrefix"></span>
        <input 
            x-ref="input"
            x-model="input" 
            @keydown.enter="executeCommand()" 
            class="bg-neutral-900 text-neutral-300 focus:outline-none inline-block" 
        />
    </div>
</div>

<script is:inline>
function initTerminal() {
    return {
        input: '',
        history: [],
        user: 'guest',
        promptPrefix: `
            <span class="text-emerald-600">✓</span> 
            <span class="text-light-gold">root</span>
            <span class="text-cyan-600">@</span>
            <span class="text-dark-gold">${this.user}</span>
            ⚡ 
            `,
        init() {
            if (this.history.length === 0) {
                this.history.push('🔋 Welcome to <span class="nav-accent-link text-gradient-gold">BatteryShell</span> 🐚<br>Type "help" to see available commands.<br>');
            }

            this.$nextTick(() => {
                this.$refs.input.focus();
            });
        },
        executeCommand() {
            let output = '';
            const command = this.input.split(' ')[0];
            const argument1 = this.input.split(' ')[1] || '';
            const argument2 = this.input.split(' ')[2] || '';

            // Define command logic
            switch (command) {
                case 'banger':
                    output = `<a href="https://bit.ly/3BlS71b" target="_blank" class="text-purple-600">📻 Random Certified Banger</a>`
                    break;
                case 'cat':
                    if (argument1 === 'about') {
                        output = 'About page content...';
                    } else {
                        output = `Unrecognized argument: ${this.argument1}`;
                    }

                    break;
                case 'cd':
                    if (argument1 === 'about') {
                        window.location.href = '/about';
                    } else {
                        output = `Unrecognized argument: ${this.argument1}`;
                    }
                    break;
                case 'clear':
                    this.history = [];
                    break;
                case 'su':
                    if ( (argument1 === '-') && (argument2) ) {
                        const newUser = argument2;
                        this.user = newUser.trim() !== '' ? newUser : this.user;
                        this.promptPrefix = `<span class="text-emerald-600">✓</span> root@${this.user}⚡ `;
                        output = `Switched user to ${this.user}`;
                    }
                    break;
                case 'gh':
                case 'github':
                    output = `<a href="https://github.com/c-lonas" target="_blank" class="text-purple-600">🚀 github.com/c-lonas</a>`
                    break;
                case 'help':
                case 'usage':
                    output = `Available commands: <br>
                                <span class="text-teal-600">cat</span>: something something something <br>
                                <span class="text-emerald-600">cd</span>: change directory  <br>
                                clear <br>
                                su - <br>
                                github <br>
                                help <br>
                            `;
                    break;
                default:
                    output = `Command not found: ${this.input}; use "help" for a list of available commands`;
                    this.promptPrefix = `<span class="text-rose-600">✗</span> root@${this.user}⚡ `;
                    break;
            }
            
            if(output) {
                this.history.push(`${this.promptPrefix} ${this.input}<br>${output}<br>`);
                this.promptPrefix = `<span class="text-emerald-600">✓</span> root@${this.user}⚡ `;
            } else {
                this.history.push(`${this.promptPrefix} ${this.input}`);
                this.promptPrefix = `<span class="text-emerald-600">✓</span> root@${this.user}⚡ `;
            }
            this.input = '';
        },
    };
}
</script>
