---

const { url } = Astro.props;
const { title } = Astro.props;
const { thumbnail } = Astro.props;
const { endResultGif } = Astro.props;
const { description } = Astro.props;
const { pubDate } = Astro.props;
const { entryIndex } = Astro.props;
const { tags } = Astro.props;

const playGif = false;
---

<script>
    function changeBackgroundImage(hover: boolean) {
        const imageDiv = document.getElementById('imageDiv');
        if (imageDiv) {
            const thumbnail = "${thumbnail}";
            const endResultGif = "${endResultGif}";
            const imageUrl = hover ? endResultGif : thumbnail;
            imageDiv.style.backgroundImage = `url("${imageUrl}")`;
        }
    }
</script>

<a href={url} class="block size-80 border-2 border-midnight-800 rounded-lg p-2 transition duration-300 ease-out hover:ease-in hover:bg-gray-900 hover:scale-105">
    <div
        id="imageDiv"
        data-thumbnail={thumbnail}
        data-endresultgif={endResultGif} 
        style={{
            backgroundImage: `url("${thumbnail}")`,
            backgroundSize: 'cover',
            width: '300px',
            height: '192px',
        }}
        onmouseover="this.style.backgroundImage = `url('${this.getAttribute('data-endresultgif')}')`"
        onmouseout="this.style.backgroundImage = `url('${this.getAttribute('data-thumbnail')}')`"
    >
    </div>
    <div>
        <h3 class="text-xl text-white"> {title} </h3>
        <p class="text-gray-400"> {description} </p>
        <p class="text-gray-500 text-sm"> Entry: {entryIndex} </p>
        <p class="text-gray-500 text-sm"> Tags: { tags } </p> 
    </div>
</a>