---

const { url } = Astro.props;
const { title } = Astro.props;
const { thumbnail } = Astro.props;
const { endResultGif } = Astro.props;
const { description } = Astro.props;
const { pubDate } = Astro.props;
const { entryIndex } = Astro.props;
const { tags } = Astro.props;

// const playGif = false;
---

<!-- <script>
    function changeBackgroundImage(hover: boolean) {
        const imageDiv = document.getElementById('imageDiv');
        if (imageDiv) {
            const thumbnail = "${thumbnail}";
            const endResultGif = "${endResultGif}";
            const imageUrl = hover ? endResultGif : thumbnail;
            imageDiv.style.backgroundImage = `url("${imageUrl}")`;
        }
    }
</script> -->

<div class=" relative group ">
    <div
        class="absolute -inset-1 bg-gradient-to-r from-cyan-600 to-orange-400 rounded-2xl blur opacity-25 group-hover:opacity-75 transition duration-300 group-hover:duration-300">
    </div>
    <a href={url} class="relative block w-full bg-neutral-900 border-2 rounded-2xl p-2 transition duration-300 ease-out hover:ease-in ">
        <div class=" mx-auto rounded-md "
            id="imageDiv"
            data-thumbnail={thumbnail}
            data-endresultgif={endResultGif} 
            style={{
                backgroundImage: `url("${thumbnail}")`,
                backgroundSize: 'cover',
                width: '300px',
                height: '192px',
            }}
            onmouseover="this.style.backgroundImage = `url('${this.getAttribute('data-endresultgif')}')`"
            onmouseout="this.style.backgroundImage = `url('${this.getAttribute('data-thumbnail')}')`"
        >
        </div>
        <div>
            <h3 class="text-xl text-neutral-200"> {title} </h3>
            <p class="text-neutral-400"> {description} </p>
            <p class="text-neutral-500 text-sm"> Entry: {entryIndex} </p>
            <p class="text-neutral-500 text-sm"> Tags: { tags } </p> 
        </div>
    </a>
</div>
