---
---


<button id="toggle-suggestion" class="absolute -left-16 h-12 w-12 rounded-full bg-green-700 text-white text-6xl flex items-center justify-center transition ">
 <span> +</span>  <!--  can replace this with an image, might be easier to center -->
</button>


<div id="trello-suggestion-container" class=" fixed z-50 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 mx-auto w-1/3 p-4 bg-white rounded-lg shadow-lg hidden ">
  <div class="mb-6">
    <input id="card-title" type="text" placeholder="Enter Card Title" class="w-full p-2 mb-4 border border-gray-300 rounded-md" />
    <textarea id="card-description" placeholder="Enter Card Description" class="w-full p-2 border border-gray-300 rounded-md" rows="4"></textarea>
    <button id="add-card" class="mt-4 p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Add Card</button>
  </div>
</div>

<script type="module">
  const addCardButton = document.getElementById('add-card');
  const cardTitleInput = document.getElementById('card-title');
  const cardDescriptionInput = document.getElementById('card-description');

  const toggleButton = document.getElementById('toggle-suggestion');
  const suggestionContainer = document.getElementById('trello-suggestion-container');
  let isSuggestionOpen = false;

  toggleButton.addEventListener('click', () => {
    isSuggestionOpen = !isSuggestionOpen;
    if (isSuggestionOpen) {
      suggestionContainer.classList.remove('hidden');
      toggleButton.classList.replace('bg-green-700', 'bg-red-700');
      toggleButton.textContent = '-';
    } else {
      suggestionContainer.classList.add('hidden');
      toggleButton.classList.replace('bg-red-700', 'bg-green-700');
      toggleButton.textContent = '+';
    }
  });

  addCardButton.addEventListener('click', async () => {
    const title = cardTitleInput.value;
    const description = cardDescriptionInput.value;

    if (title && description) {
      try {
        await addCardToSuggestionList(title, description);
        cardTitleInput.value = '';
        cardDescriptionInput.value = '';
      } catch (error) {
        console.error('Error adding card:', error);
      }
    } else {
      alert('Please provide both title and description');
    }
  });

  async function addCardToSuggestionList(title, description) {
    const SUGGESTION_LIST_ID = '659fe9527196c66c1a5a8dca';
    const TRELLO_API_KEY = import.meta.env.TRELLO_KEY;
    const TRELLO_TOKEN = import.meta.env.TRELLO_TOKEN;

    const url = `https://api.trello.com/1/cards?idList=${SUGGESTION_LIST_ID}&name=${encodeURIComponent(title)}&desc=${encodeURIComponent(description)}&key=${TRELLO_API_KEY}&token=${TRELLO_TOKEN}`;

    const response = await fetch(url, { method: 'POST' });
    if (!response.ok) {
      throw new Error('Failed to add card');
    }

    return response.json();
  }
</script>
