---
import TechPageLayout from "../layouts/TechPageLayout.astro";
import SideNav from "shared/src/components/SideNav.astro";
import PostCard from "shared/src/components/PostCard.astro";
import { getCollection } from "astro:content";

const pageTitle = "Posts";
const allPosts = await getCollection("posts");

---
<TechPageLayout pageTitle={pageTitle} allPosts={allPosts}>
    <div slot="SideNavSlot">
        <SideNav allPosts={allPosts}4 />
    </div>

    <div class=" h-16 "></div> 

    <div slot="PageContent" >
        <div class=" flex flex-col gap-9 mt-24">
            {allPosts.reverse().map((post) => 
                <PostCard
                    url={post.slug}
                    title={post.data.title} 
                    thumbnail={post.data.thumbnail.url}
                    endResultGif={post.data.endResultGif.url}
                    description={post.data.description}
                    pubDate={post.data.pubDate}
                    entryIndex={post.data.entryIndex}
                    tags={post.data.tags}
                />
            )}
        </div>
    </div>  
    <br>
</TechPageLayout>